body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15%;
}

.dog-image {
  width: 60%;
  padding-left: 4rem;
  transform: rotate(20deg);
}

.feature-box {
  padding: 5%;
  text-align: center;
}

#features {
  padding: 7% 15%;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  width: 75%;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 1rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 18px;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  padding: 7% 15%;  
}

#title {
  color: #fff;
  background-color: #ff4c68;
}
